<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
<div class="ui text container" style="padding-top: 100px" id="app">
    <h1 class="ui dividing header">Rumus Mencari Luas Segitiga</h1>

    <form class="ui form">
        <div class="field">
            <label>Masukkan Parameter</label>
            <div class="two fields">
                <div class="field">
                    <input aria-label="alas" type="number" placeholder="Alas" v-model="alas">
                </div>
                <div class="field">
                    <input aria-label="tinggi" type="number" placeholder="Tinggi" v-model="tinggi">
                </div>
            </div>

            <button @click="submit" type="button" class="ui teal small button">Hitung</button>
            <br>
            <div class="ui center statistic" v-if="hasil != 0">
                <div class="value">
                    [[ hasil ]]
                </div>
            </div>
        </div>
    </form>

    <table class="ui celled table">
        <thead>
        <tr>
            <th>Alas</th>
            <th>Tinggi</th>
            <th>Hasil</th>
            <th>Tanggal</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="d in dataHistory">
            <td>[[ d.alas ]]</td>
            <td>[[ d.tinggi ]]</td>
            <td>[[ d.hasil ]]</td>
            <td>[[ d.datetime ]]</td>
        </tr>
        </tbody>
    </table>

    <a :href="host + '/index'" class="ui grey small button">Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            host: "http://localhost:3000",
            alas: null,
            tinggi: null,
            hasil: 0,
            dataHistory: [],
            totalHistory: 0,
        },
        created() {
            this.getHistorySegitiga();
        },
        methods: {
            getHistorySegitiga() {
                axios.get(`${this.host}/calculate/segitiga/history`)
                    .then(response => {
                        this.dataHistory = response.data.results.data
                        this.totalHistory = response.data.results.total
                    })
            },
            resetForm() {
                this.alas = null;
                this.tinggi = null;
            },
            submit() {
                axios.post(`${this.host}/calculate/segitiga`, {
                    alas: parseFloat(this.alas),
                    tinggi: parseFloat(this.tinggi),
                }).then(response => {
                    this.resetForm()
                    this.getHistorySegitiga();
                    this.hasil = response.data.results.hasil
                })
            }
        }
    })
</script>
</body>
</html>